/* Import all your Google Fonts here */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Defining variables so we never misspell the font names */
    --font-normal: 'Inter', sans-serif;
    --font-heading: 'Bricolage Grotesque', sans-serif;
    --font-ai-text: 'Source Code Pro', monospace;
    --font-github: 'Victor Mono', monospace;
}
